<h1 class="playlistcustomname">{{playlist.playlistname}}</h1>

<form action="/playlist/{{playlist._id}}/update" method="get">
    <button type="submit" class="updateplaylistbutton">Update Playlist</button>
</form>

<form action="/playlist/{{playlist._id}}/delete" method="post">
<button type="submit" class="deleteplaylistbutton">Delete Playlist</button>
</form>

<div>
{{#each tracks}}
<div>
    <div>
    <img src="{{this.album.images.0.url}}" alt="{{this.album.name}}" width="250px" height="250px" /><
    </div>
    <div>
    <p class="artistname">{{this.name}}</p>
    <a href="/artist/{{this.artists.0.id}}">{{this.artists.0.name}}</a>
    <br>
    <p><a href="/album/{{this.album.id}}">{{this.album.name}}</a></p>
    
    <figure>
        <audio
        controls
        src="{{this.preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </figure>
    <form action="/playlist/remove-track" method="POST">
        <input type="hidden" value="{{this.id}}" name="trackId" />
        <input type="hidden" value="{{../playlist.id}}" name="playlistId" />
        <button type="submit" class="buttonaddsong">Remove track</button>
    </form>
    </div>
</div>
{{/each}}
</div>