<h1>Bienvenido {{user.username}}</h1>
{{#each user.favorites}}
<img src={{image}} alt={{name}}>
<p>{{name}}</p>
<form action = "/delete-favorite" method="POST">
    <input type="hidden" name="id" value={{_id}}>

<button type="submit">Borrar favorito</button>
</form>
{{/each}}

<a href="/playlist/new-playlist"> Create a playlist </a>
<br>
<a href="/playlist/my-playlist"> My playlists</a>

