<h4>{{albums.0.artists.0.name}}</h4>

{{#each albums}}
    <img src="{{this.images.0.url}}" />
    <p><a href="/album/{{id}}">{{this.name}}</a></p>
    {{#each this.cleanedSongs}}
    <p>{{this.track_number}} - {{this.name}}</p>
    <figure>
        <audio
        controls
        src="{{this.preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </figure>
    {{/each}}
{{/each}}