<div class="container">
<div class="albumtitleimage">

<h4 class="albumname">{{albums.0.artists.0.name}}</h4>

{{#each albums}}
  <img id="albumimage" src="{{this.images.0.url}}" width="500"/>
  <p class="albumtitletext"><a href="/album/{{id}}">{{this.name}}</a></p>
  </div>
  {{#each this.cleanedSongs}}
  <div class="audioandform">
      <div class="audioandtext">
  <p>{{this.track_number}} - {{this.name}}</p>
  
  <figure>
      <audio
      controls
      src="{{this.preview_url}}">
          Your browser does not support the
          <code>audio</code> element.
      </audio>
  </figure>


  <form action="/playlist/add-track" method="POST">
    <label for="playlist" class="addtoplaylist">Add this song to a playlist:</label>
    <select name="playlistId">
    {{#each this.savedPlaylists}}
      <option value="{{this.id}}">{{this.playlistname}}</option>
    {{/each}}
    </select>
    <input type="hidden" value="{{this.id}}" name="trackId" />
    <button type="submit" class="buttonaddsong">Add song</button>
  </form>

    </div>
  {{/each}}
  </div>
  
{{/each}}
</div>