<div>
    {{#each track}}
    <img src="{{album.images.0.url}}" />
    <h5>{{name}}</h5>
    <p><a href="/artist/{{artists.0.id}}">{{artists.0.name}}</a></p>
    <p><a href="/album/{{album.id}}">{{album.name}}</a></p>
    <figure>
        <audio
        controls
        src="{{preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </figure>
    <div class="artistform">
        <form action="/playlist/add-track" method="POST">
            <label for="playlist">Add this song to a playlist:</label>
            <select name="playlistId">
            {{#each this.savedPlaylists}}
            <option value="{{this.id}}">{{this.playlistname}}</option>
            {{/each}}
            </select>
            <input type="hidden" value="{{this.id}}" name="trackId" />
            <button type="submit">Add song</button>
        </form>
    </div>
    {{/each}}
</div>