<div>
    {{#each track}}
    <img src="{{album.images.0.url}}" />
    <h5>{{name}}</h5>
    <p><a href="/artist/{{artists.0.id}}">{{artists.0.name}}</a></p>
    <p><a href="/album/{{album.id}}">{{album.name}}</a></p>
    <figure>
        <audio
        controls
        src="{{preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </figure>
    {{/each}}
</div>