<div class='container'>
  <h1>Characters list</h1>

  <div class='row row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 my-5'>
  {{!-- image name status --}}
    {{#each characters}}
    <div class='col'>
      <div class='card shadow-sm'>
        <img src="{{image}}" alt="">
        <p>{{name}}</p>
        <p>{{status}}</p>
        <form action = "/add-favorite" method="POST">
          
          <input type="hidden" name="name" value={{name}}>
          <input type="hidden" name="status" value={{status}}>
          <input type="hidden" name="species" value={{species}}>
          <input type="hidden" name="gender" value={{gender}}>
          <input type="hidden" name="image" value={{image}}>
          <input type="hidden" name="apiId" value={{id}}>

          <button type="submit">Añadir a favoritos</button>
        </form>
      </div>
    </div>
    {{/each}}    
  </div>
</div>